<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ĐẶT BÁNH | BÁNH GAI BÀ THÚY</title>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/reserve.css" />
		<script src="/js/reserve.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="title">Thông tin khách hàng</h1>
			<form action="" name="contact-form">
				<input type="text" id="psid" hidden />

				<div class="form-row">
					<div class="input-data">
						<input
							type="text"
							required
							class="full-name"
							id="full-name"
							name="full-name"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Họ và tên</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							type="tel"
							required
							class="phone-number"
							id="phone-number"
							name="phone-number"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Số điện thoại</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							type="text"
							required
							class="address"
							id="address"
							name="address"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Địa chỉ</label>
					</div>
				</div>
				<!-- <div class="form-row">
					<div class="input-data location">
						<p>Địa chỉ</p>
						<div class="location-input">
							<select class="form-select" id="city">
								<option value="" selected>Tỉnh, thành</option>
							</select>

							<select class="form-select" id="district">
								<option value="" selected>Quận, huyện</option>
							</select>

							<select class="form-select" id="ward">
								<option value="" selected>Phường, xã</option>
							</select>
							<input
								type="number"
								placeholder="Số nhà"
								id="house-number"
								min="1"
							/>
						</div>
					</div>
				</div> -->
				<div class="form-row">
					<div class="input-data type-of-cake">
						<p>Loại bánh:</p>
						<div class="cake-input">
							<select name="select" class="type" id="type">
								<option data-price="5" value="BGAI">
									Bánh Gai
								</option>
								<option data-price="5" value="BGIO">
									Bánh Giò
								</option>
								<option data-price="5" value="BROMM">
									Bánh Rợm (Mặn)
								</option>
								<option data-price="5" value="BROMN">
									Bánh Rợm (Ngọt)
								</option>
								<option data-price="6" value="BKHOAI">
									Bánh Khoai
								</option>
								<option data-price="5" value="BTRO">
									Bánh Gio
								</option>
							</select>
							<div class="input-data number-inp">
								<input
									type="number"
									required
									class="number"
									id="number"
									name="number"
									autocomplete="on"
								/>
								<div class="underline"></div>
								<label for="">Số lượng</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data textarea">
						<textarea
							rows="8"
							cols="80"
							required
							class="message"
							name="message"
							id="note"
							autocomplete="off"
						></textarea>
						<br />
						<div class="underline"></div>
						<label for="">Ghi chú</label>
						<br />
					</div>
				</div>
				<div class="form-row submit-btn">
					<button
						data-ripple
						type="button"
						value="submit"
						class="submit"
						id="btnReserve"
					>
						Đặt ngay
					</button>
				</div>
			</form>
		</div>
	</body>
</html>
