<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ĐẶT BÁNH | BÁNH GAI BÀ THÚY</title>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="./css/reserve.css" />
        <script src="./js/reserve.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="title">Thông tin khách hàng</h1>
			<div class="errPopup">Thông tin không hợp lệ</div>
			<form
				method=""
				action=""
				name="reserve-form"
				onsubmit="return validateInputFields(e)"
			>
				<input type="text" id="psid" hidden />

				<div class="form-row">
					<div class="input-data">
						<input
							placeholder=" "
							type="text"
							class="fullName"
							id="fullName"
							name="fullName"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Họ và tên</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							placeholder=" "
							type="tel"
							required
							class="phoneNumber"
							id="phoneNumber"
							name="phoneNumber"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Số điện thoại</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							placeholder=" "
							type="text"
							required
							class="address"
							id="address"
							name="address"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Địa chỉ</label>
					</div>
				</div>
				<!-- <div class="form-row">
					<div class="input-data location">
						<p>Địa chỉ</p>
						<div class="location-input">
							<select class="form-select" id="city">
								<option value="" selected>Tỉnh, thành</option>
							</select>

							<select class="form-select" id="district">
								<option value="" selected>Quận, huyện</option>
							</select>

							<select class="form-select" id="ward">
								<option value="" selected>Phường, xã</option>
							</select>
							<input
								type="number"
								placeholder="Số nhà"
								id="houseNumber"
								min="1"
							/>
						</div>
					</div>
				</div> -->
				<div class="form-row">
					<div class="input-data type-of-cake">
						<p>Loại bánh:</p>
						<div class="cake-input">
							<select name="typeOfCake" class="type" id="type">
								<option data-price="5" value="Bánh Gai">
									Bánh Gai
								</option>
								<option data-price="5" value="Bánh Giò">
									Bánh Giò
								</option>
								<option data-price="5" value="Bánh Rợm (Mặn)">
									Bánh Rợm (Mặn)
								</option>
								<option data-price="5" value="Bánh Rợm (Ngọt)">
									Bánh Rợm (Ngọt)
								</option>
								<option data-price="6" value="Bánh Khoai">
									Bánh Khoai
								</option>
								<option data-price="5" value="Bánh Gio">
									Bánh Gio
								</option>
							</select>
							<div class="input-data number-inp">
								<input
									placeholder=" "
									type="number"
									required
									class="number"
									id="number"
									name="number"
									autocomplete="on"
									max="1500"
								/>
								<div class="underline"></div>
								<label for="">Số lượng</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data textarea">
						<textarea
							rows="8"
							cols="80"
							class="note"
							name="note"
							id="note"
							autocomplete="off"
							placeholder=" "
						></textarea>
						<br />
						<div class="underline"></div>
						<label for="">Ghi chú</label>
						<br />
					</div>
				</div>
				<div class="form-row submit-btn">
					<button
						data-ripple
						type="submit"
						value="submit"
						class="submit"
						id="btnReserve"
					>
						Đặt ngay
					</button>
				</div>
			</form>
		</div>
	</body>
</html>
