<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Form đặt bánh</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/reserve.css" />
	</head>
	<body>
		<div class="container">
			<h1 class="title">Thông tin khách hàng</h1>
			<form action="" name="contact-form">
				<div class="form-row">
					<div class="input-data type-of-cake">
						<p>Loại bánh:</p>
						<select name="select" class="type">
							<option value="BGAI">Bánh Gai</option>
							<option value="BGIO">Bánh Giò</option>
							<option value="BROMM">Bánh Rợm (Mặn)</option>
							<option value="BROMN">Bánh Rợm (Ngọt)</option>
							<option value="BKHOAI">Bánh Khoai</option>
							<option value="BTRO">Bánh Gio</option>
						</select>
						<div class="input-data number">
							<input
								type="number"
								name="soluong"
								id="soluong"
								placeholder="Số lượng"
							/>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							type="text"
							required
							class="full-name"
							name="full-name"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Họ và tên</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						<input
							type="tel"
							required
							class="phone-number"
							name="phone-number"
							autocomplete="on"
						/>
						<div class="underline"></div>
						<label for="">Số điện thoại</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data location">
						<p>Địa chỉ</p>
						<div class="select-location">
							<select class="form-select" id="city">
								<option value="" selected>Tỉnh, thành</option>
							</select>

							<select class="form-select" id="district">
								<option value="" selected>Quận, huyện</option>
							</select>

							<select class="form-select" id="ward">
								<option value="" selected>Phường, xã</option>
							</select>
							<input type="number" placeholder="Số nhà" min="1" />
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data textarea">
						<textarea
							rows="8"
							cols="80"
							required
							class="message"
							name="message"
							autocomplete="off"
						></textarea>
						<br />
						<div class="underline"></div>
						<label for="">Ghi chú</label>
						<br />
						<div class="form-row submit-btn">
							<button
								data-ripple
								type="button"
								value="submit"
								class="submit"
								onclick=""
							>
								Đặt ngay
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script src="/js/reserve.js"></script>
	</body>
</html>
